body {
    background-color: var(--color-black);
    font-family: var(--font-dm-sans);
}

h1 {
    color: var(--color-white);
}

.sidebar {
    position:fixed;
    top: 0;
    left: 0;
    bottom: 0;
    padding: 12px;
    width: 300px;
}

.sidebar__navigation{
    background-color: var(--color-black2);
    border-radius: 8px;
    padding-top: 16px;
}

.sidebar__navigation .logo {
    background-color: var(--color-black2);
    display: flex;
    border-radius: 8px;
    padding: 0 16px 0 16px;
}

.logo img {
    width: 80px;
}

.sidebar nav ul {
    margin-top: 20px;
    padding: 0 20px 10px 20px;
}

.sidebar ul li{
    padding: 10px 0;
}


.sidebar nav ul li a{
    color: var(--color-white2);
    text-decoration: none;
    font-weight: 600;
    font-size: 14px;
    word-spacing: 5px;
}

.sidebar .library{
    margin-top: 10px;
    padding: 4px 8px;
    color: var(--color-white2);
    border-radius: 8px;
    background-color: var(--color-black2);
    display: flex;
    flex-direction: column;
}

.library__content{
    display: flex;
    justify-content: space-between;
    padding: 20px 10px;
}

.library__button{
    background-color: transparent;
    color: var(--color-white2);
    font-size: 16px;
    font-family: var(--font-montserrat);
    margin-right: 10px;
    text-align: center;
    font-weight: 700;
}

.library__button span{
    margin-right: 5px;
}

.section-playlist{
    display: flex;
    flex-direction: column;
    background-color: #242424;
    padding: 16px 20px;
    border-radius: 8px;
    gap: 20px;
    align-items: flex-start;
    margin: 8px 0;
}

.text {
    color: var(--color-white);
}

.text.title {
    font-size: 14px;
    font-weight: 700;
}

.text.subtitle {
    font-size: 12px;
    padding-bottom: 14px;
}

.playlist__button {
    background-color: var(--color-white);
    color: #000;
    border-radius: 100px;
    font-size: 12.8px;
    font-family: var(--font-montserrat);    font-weight: 700;
    padding: 10px;
    width: 133px; 
}

.cookies{
    margin: 25px 20px;
}

.cookies a {
    font-size: 10px;
    font-weight: 500;
    color: var(--color-white2);
    text-decoration: none;
}

.language button {
    background-color: transparent;
    color: var(--color-white);
    border: #878787 1px solid;
    border-radius: 100px;
    cursor: pointer;
    padding: 8px;
    margin: 8px;
    font-weight: bold;
}